.tight-block:not(:last-child)
{
    margin-bottom: 0.75rem;
}

.wide-block:not(:last-child)
{
    margin-bottom: 3rem;
}

section.article-summaries h2:hover
{
    text-decoration: underline;
}

section.article-summaries article:not(:last-child)
{
    border-bottom: 1px solid hsl(0, 0%, 96%);
}

section.article-summaries nav.pagination
{
    padding: 1.25rem;
}

section.article-content article.content h2 {
    padding: 0.5rem 0;
    border-bottom: 1px solid hsl(0, 0%, 96%);
}

section.article-content article.content code, pre
{
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

section.article-content article.content div.tweet:not(:last-child), div.vimeo:not(:last-child), div.youtube:not(:last-child)
{
    margin-bottom: 1.5rem;
}

section.article-not-found div.content
{
    padding: 10rem 0;
}

footer a:hover
{
    color: hsl(0, 0%, 71%) !important;
}
