article.content div {
    margin-bottom: 1.5em;
}

article.content code, pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

nav.pagination {
    margin-top: 2em;
}
