<article class="tile box is-marginless is-shadowless">
    <div class="content">
        <div class="tight-block">
            <a href="{{ .Permalink }}">
                <h2 class="title is-size-4">
                    {{ .Title }}
                </h2>
            </a>
        </div>
        {{ with .Params.tags }}
        <div class="tight-block">
            {{ range . }}
            <a href="{{ "tags" | absURL }}/{{ . | urlize }}">
                <span class="button is-small is-light">
                    #{{ . }}
                </span>
            </a>
            {{ end }}
        </div>
        {{ end }}
        <div class="tight-block">
            <time class="article-date is-size-6 has-text-grey-light">
                {{ .Date.Format "January 2, 2006" }}
            </time>
        </div>
    </div>
</article>
