{{ define "main" }}
<section class="article-summaries section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-2 is-vertical">
            </div>
            <div class="tile is-8 is-vertical">
                {{ $type := .Params.MainPageType }}
                {{ if not $type }}
                    {{ $type = "post" }}
                {{ end }}
                {{ $pag := .Paginate (where .Pages "Type" $type) }}
                <div class="block">
                    {{ range $pag.Pages }}
                    {{ .Render "li" }}
                    {{ end }}
                </div>
                <div class="block">
                    {{ partial "pagination.html" . }}
                </div>
            </div>
            <div class="tile is-2 is-vertical">
            </div>
        </div>
    </div>
</section>
{{ end }}
