{{ define "title" }}
{{ .Title }} - {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section class="article-content-hero hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="wide-block">
                <h1 class="title">
                    {{ .Title }}
                </h1>
            </div>
            {{ with .Params.tags }}
            <div class="block has-text-centered">
                {{ range . }}
                <a href="{{ "tags" | absURL }}/{{ . | urlize }}">
                    <span class="button is-small is-light">
                        #{{ . }}
                    </span>
                </a>
                {{ end }}
            </div>
            {{ end }}
            {{ with .Date }}
            <div class="block">
                <time class="is-size-6 has-text-grey-light">
                    {{ .Format "January 2, 2006" }}
                </time>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<section class="article-content section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-2 is-vertical">
            </div>
            <div class="tile is-8 is-vertical">
                <div class="block">
                    <article class="content">
                        {{ .Content }}
                    </article>
                </div>
            </div>
            <div class="tile is-2 is-vertical">
            </div>
        </div>
    </div>
</section>
{{ template "_internal/disqus.html" . }}
{{ end }}
