{{ define "title" }}
{{ .Title }} - {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-2 is-vertical">
                </div>
                <div class="tile is-8 is-vertical has-text-centered">
                    <h1 class="is-size-3 has-text-dark has-text-weight-bold">
                        {{ .Title }}
                    </h1>
                    <br/>
                    <p class="is-size-5 has-text-grey-light">
                        {{ .Date.Format "January 2, 2006" }}
                    </p>
                </div>
                <div class="tile is-2 is-vertical">
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-2 is-vertical">
            </div>
            <div class="tile is-8 is-vertical">
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
            <div class="tile is-2 is-vertical">
            </div>
        </div>
    </div>
</section>
{{ end }}
