{{ define "main" }}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-2 is-vertical">
                </div>
                <div class="tile is-8 is-vertical has-text-centered">
                    <div class="content">
                        <h1 class="is-size-3 has-text-dark has-text-weight-bold">
                            #{{ .Title }}
                        </h1>
                    </div>
                </div>
                <div class="tile is-2 is-vertical">
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-2 is-vertical">
            </div>
            <div class="tile is-8 is-vertical">
                {{ range .Pages }}
                {{ .Render "li" }}
                {{ end }}
            </div>
            <div class="tile is-2 is-vertical">
            </div>
        </div>
    </div>
</section>
{{ end }}
