<footer class="footer has-background-dark">
    <div class="content has-text-grey has-text-centered">
        <p>
            {{ .Site.Copyright | safeHTML }}
        </p>
        <p>
            <a href="https://github.com/m0t0k1ch1/h1st0ry" target="_blank" class="has-text-grey has-text-weight-bold">
                h1st0ry theme
            </a>
            by
            <a href="https://github.com/m0t0k1ch1" target="_blank" class="has-text-grey has-text-weight-bold">
                m0t0k1ch1
            </a>
        </p>
    </div>
</footer>
