{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
        {{ $ellipsed      := false }}
        {{ $shouldEllipse := false }}
        {{ range $pag.Pagers }}
        {{ $right      := sub .TotalPages .PageNumber }}
        {{ $showNumber := or (le .PageNumber 1) (eq $right 0) }}
        {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
        {{ if $showNumber }}
            {{ $ellipsed      = false }}
            {{ $shouldEllipse = false }}
        {{ else }}
            {{ $shouldEllipse = not $ellipsed }}
            {{ $ellipsed      = true }}
        {{ end }}
        {{ if $showNumber }}
        <li>
            <a href="{{ .URL }}" class="pagination-link{{ if eq . $pag }} is-current{{ end }}" aria-label="{{ if eq . $pag }}Page{{ else }}Goto page{{ end }} {{ .PageNumber }}"{{ if eq . $pag}} aria-current="page"{{ end }}>
                {{ .PageNumber }}
            </a>
        </li>
        {{ else if $shouldEllipse }}
        <li>
            <span class="pagination-ellipsis">
                &nbsp;&hellip;&nbsp;
            </span>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</nav>
{{ end }}
